<mat-card class="mt10">
    <mat-action-list>
        <div mat-subheader >Menu</div>
        <button routerLink="/admin" mat-list-item ><mat-icon mat-list-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon >account_box</mat-icon> Profile
        </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon >list</mat-icon> Categories
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon >add_circle_outline</mat-icon> Add Categories
        </button>
        <button mat-list-item routerLink="/admin/quizes">
            <mat-icon mat-list-icon >quiz</mat-icon> Quizes
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon >add_to_queue</mat-icon> Add Quiz
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon >logout</mat-icon> Log Out
        </button>
    </mat-action-list>
</mat-card>