<mat-card class="mt10 text-center">
    <h1 class="mt10 ml10">Questions of {{qTitle}}</h1>
</mat-card>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            
            <mat-card *ngFor="let q of questions; let i=index" class="mt20">

                <mat-card-content>

                    <p>
                        <b>Q{{i+1}}:</b>
                        <span class="ml10" [innerHtml]="q.content"></span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>(1) </b>{{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>(2) </b>{{ q.option2}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>(3) </b>{{q.option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>(4) </b>{{ q.option4}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="mt10"><b>Correst Answer:</b> {{q.answer}}</p>

                    </div>
                    

                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Update</button>
                    <button mat-raised-button color="warn" class="ml10" (click)="deleteQuestion(q.quesId)">
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card>
            <div class="container text-center mt10">
                <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+qId+'/'+qTitle">Add
                    Question</button>
            </div>
        </div>
    </div>
</div>