<mat-card class="mt10" *ngFor="let q of quizzes">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{q.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{q.category.title}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{q.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button 
        [routerLink]="'/admin/view-questions/'+q.qId+'/'+q.title" 
        mat-raised-button color="primary">
            Questions
        </button>
        <button mat-raised-button color="accent" class="ml10">
            Max Marks: {{q.maxMarks}}
        </button>
        <button mat-raised-button color="warn" class="ml10">
            Questions: {{q.numberOfQuestions}}
        </button>
        <button [routerLink]="'/admin/quiz/' + q.qId" mat-raised-button color="primary" class="ml10">
            Update
        </button>
        <button mat-raised-button color="warn" class="ml10">
            Attempts
        </button>
        <button mat-raised-button color="warn" class="ml10" (click)="deleteQuiz(q.qId)">
            Delete
        </button>
    </mat-card-actions>
</mat-card>
<div class="container text-center mt20">
    <button routerLink="/admin/add-quiz" mat-raised-button color="primary">Add New Quiz</button>
</div>